# Python
__pycache__/
*.pyc

# Virtual environment
yolo_env/

# Ignore large pretrained weights only
yolov8s.pt
yolov8n.pt

# YOLO training outputs
runs/
train/
valid/
test/
ts/

# Ignore large/raw videos
testvideo*.mp4
demonstration.mp4

# Allow demo test video
!traffic-sign-to-test.mp4

# Experimental modules
slam/
fast_rcnn/

# OS
.DS_Store
Thumbs.db

yolov7/
